Source: miind
Priority: optional
Maintainer: Hugh Osborne <hugh.osborne@gmail.com>
Build-Depends: debhelper (>= 9),python-scipy,libgsl0-dev,g++
Standards-Version: 3.9.8
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/collab-maint/miind.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/miind.git

Package: miind
Architecture: any
Depends: ${misc:Depends},python-scipy,libgsl0-dev,g++
Description: MIIND
 MIIND 1.05
